#scannerimg {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
  cursor: pointer;
}
#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
  display:none;
}
#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}
#submitbtn {
   margin-top: 20px;
   width: 10%;
}