h1 {
    font-family: 'LatoWeb';
    padding: 15px 0px;
}

.log-in-container {
    padding-left: 10%;
}

.log-in-form {
    font-family: 'LatoWeb';
    font-weight: 300;
}

.log-in-submit {
    margin-bottom: 10px;
}
#forgot-password-link, #forgot-password-link p, #forgot-password-link a{
  color: red;
  text-decoration: none!important;
}
#forgot-password-link:hover{
    text-decoration: underline!important;
}
