<div>
  <div class="log-in-container">
    <h1>Log In</h1>
    <div class="log-in-inputs">
      <form class="log-in-form" id="log-in-form">
        <div class="form-group">
          <label for="employee-id">Employee ID:</label><br>
          <input required type="text" id="employee-id" name="employeeId" [(ngModel)]="employeeId"><br>
        </div>
        <div class="form-group">
          <label for="employee-password">Password:</label><br>
          <input required type="password" id="employee-password" name="employeePassword" [(ngModel)]="employeePassword"><br />
        </div>
        <br />
        <input class="log-in-submit" type="submit" value="Submit" (click)="LogInUser()"><br />
        <div class="forgot-password"
             [routerLinkActive]="['link-active']"
             [routerLinkActiveOptions]="{ exact: true }">
          <a class="forgot-password text-dark" [routerLink]="['/']">Forgot Password</a>
        </div>
      </form>
    </div>
  </div>
</div>
