h1 {
    font-family: 'Lato';
    padding: 15px 0px;
}

.log-in-container {
    padding-left: 10%;
}

.log-in-form {
    font-family: 'Lato';
    font-weight: 300;
}

.log-in-submit {
    margin-bottom: 10px;
}
