<div>
  <div class="log-in-container">
    <h1>Log In</h1>
    <div class="log-in-inputs">
      <form class="log-in-form" id="log-in-form" #f="ngForm" (ngSubmit)="LogInUser(f)">
        <div class="form-group">
          <label>Employee ID: </label>
          <input type="text" name="employeeId" [(ngModel)]="employeeId" required />
          <span class="text-danger" *ngIf="loginForm.controls['employeeId'].dirty && loginForm.hasError('required', 'employeeId')">*EmployeeId is required</span>
        </div>
        <br />
        <div class="form-group">
          <label>Password: </label>
          <input type="password" name="employeePassword" [(ngModel)]="employeePassword" required />
          <span class="text-danger" *ngIf="loginForm.controls['employeePassword'].dirty && loginForm.hasError('required', 'employeePassword')">*Password is required</span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </form>
    </div>
</div>
