h1 {
    font-family: 'LatoWeb';
    padding: 15px 0px;
}

.log-in-container {
    padding-left: 10%;
}

.log-in-form {
  font-family: 'LatoWeb';
  font-weight: 300;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
}

.log-in-form-group {
  display: flex !important;
  width: 50%;
  justify-content: space-between !important;
}

.log-in-submit {
    margin-bottom: 10px;
}
#forgot-password-link {
  background-color: #dc3545;
  border-color: #dc3545;
}

#forgot-password-link p, #forgot-password-link a {
    color: white;
    margin: 0;
    text-decoration: none !important;
}

.buttons-and-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
