<p>dashboard works!</p>


<!--Scanner Button-->
<!--Inspections To Do Button-->
<!--Past Scans Button-->
<!--Log-In/Sign Out Button-->


<div>
  <h2>Dashboard</h2>
  <button type="button" class="col-lg-12 btn btn-light bnt-outline-primary" [routerLink]="['/scanner']">Scanner</button>
  <button type="button" class="col-lg-12 btn btn-light bnt-outline-primary" [routerLink]="['/scanner']">To-Do</button>
  <button type="button" class="col-lg-12 btn btn-light bnt-outline-primary" [routerLink]="['/past-inspections']">Past Inspections</button>
  <button type="button" class="col-lg-12 btn btn-light bnt-outline-primary" [routerLink]="['/']">Sign-Out</button>
  <button type="button" class="col-lg-12 btn btn-light bnt-outline-primary" [routerLink]="['/inspection-form']">Inspection Form</button>

</div>