h1 {
  font-family: 'LatoWeb';
  padding: 15px 0px;
}

.add-user-container {
  padding-left: 10%;
}

.add-user-form {
  font-family: 'LatoWeb';
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-user-form-group{
    display: flex;
    justify-content: space-between;
}

.add-user-submit {
  margin-bottom: 10px;
}
