<div>
    <h2> To-Do List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Equipment ID</th>
                <th>Last Inspection Date</th>
                <th> Inspection Form</th>
            </tr>
        </thead>
        <!--this is an example-->
        <tr *ngFor="let dataItem of inspections">
           <td> {{dataItem.equipmentId}}
            </td>
            <td>
                {{dataItem. lastInspectionDate}}
            <td> <a class="nav-link" [routerLink]="['/inspection-form']">Form</a> </td>
        </tr>
    </table>
</div>
