<div>
    <h2> To-Do List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Equipment ID</th>
                <th>Last Inspection Date</th>
                <th> Location</th>
                <th> Inspection Form</th>
            </tr>
        </thead>
        <!--this is an example-->
        <tr>
            <td> 12949201</td>
            <td> 12/08/2022</td>
            <td> Avon, OH</td>
          <td> <a class="nav-link" [routerLink]="['/inspection-form']">Form</a> </td>
        </tr>
    </table>
</div>
