<form class="inspection-form">
  <div class="form-group">
    <label for="equipment-id">Equipment ID</label>
    <input type="text" id="equipment-id" name="equipment-id" value="" />
  </div>
  <div class="form-group">
    <label for="equipment-type">Equipment Type </label>
    <input type="text" id="equipment-type" name="equipment-type" value="" />
    <!--drop down for equipment type? Should autopopulate.-->
  </div>
  <div class="form-group">
    <label for="inspection-date">Inspection Date</label>
    <input type="date" id="inspection-date" name="inspection-date" value="" />
  </div>
  <div class="form-group">
    <label for="employee-name">Employee Name</label>
    <input type="text" id="employee-name" name="employee-name" value="" />
  </div>
  <div class="form-group">
    <label for="employee-email">Employee Email</label>
    <input type="email" id="employee-email" name="employee-email" value="" />
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
