.inspection-form {
    font-family: 'LatoWeb';
}

label {
    margin-right: 5px;
}

form {
    margin-top: 2em;
    display: flex;
    align-self: center;
    flex-direction: column;
}

table {
    margin-bottom: 2em;
}

.form-submit-button {
    width: 80px;
}

/* if less than 770px, turn into mobile view */

/*
For Mobile
@media screen and (max-width: 540px) {
  .view {
    width: 400px;
  }
}

For Tablets
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
    width: 600px;
  }
}
*/
