
 <h2>Past Scans</h2>
 <div>
     <table class="table table-striped">
         <thead>
             <tr>
                 <th>Equipment ID</th>
                 <th>Last Inspection Date</th>
                 <th>Inspection Results</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let dataItem of inspections">
                 <td>
                     {{dataItem.equipmentId}}
                 </td>
                 <td>
                     {{dataItem. lastInspectionDate}}
                 </td>
                 <td>
                     {{dataItem.inspectionResults}}
                 </td>
                 <td>
                     <button id="openbtn" type="button" (click)="openInfo()" class="btn btn bg-light">i</button>
                 </td>
             </tr>
         </tbody>
     </table>
     <div id="scaninfoId">
         <button type="button" id="closebtn" (click)="closeInfo()"> Close</button>
         <h3 id="infoheader"> Scan Info</h3>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Question Number</th>
                     <th>Question</th>
                 </tr>
             </thead>
             <tbody>
                 <tr >
                     
                     <td> hey</td>
                     <td> ho</td>
                 </tr>
             </tbody>
         </table>
     </div>

 </div>


