<table class="table table-striped">
  <thead>
    <tr>
      <th>Inspection ID</th>
      <th>Employee Name</th><!--Employee that conducted inspection-->
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn bg-light">Edit</button>
        <button type="button" class="btn btn bg-light">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
