h1 {
  font-family: 'LatoWeb';
  padding: 15px 0px;
}

.add-item-container {
  padding-left: 10%;
}

.add-item-form {
  font-family: 'LatoWeb';
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-item-form-group {
  display: flex;
  justify-content: space-between;
}

.add-item-submit {
  margin-bottom: 10px;
}
