h1 {
    font-family: 'LatoWeb';
    padding: 15px 0px;
}

.forgot-password-container {
    padding-left: 10%
}
.forgot-password-form {
    font-family: 'LatoWeb';
    font-weight: 300;
}
button a{
  color: white;
  text-decoration: none !important;
}

button a:hover {
  text-decoration: underline !important;
}
