<div>
  <div class="forgot-password-container">
    <h1>Change Password</h1>
    <div class="forgot-password-inputs">
      <form class="forgot-password-form" #f="ngForm" (ngSubmit)="ResetEmployeePassword(f)">
        <div class="forgot-password-form-group form-group">
          <label>Employee ID: </label>
          <input type="text" name="employeeId" [(ngModel)]="employeeId" required />
          <span class="text-danger" *ngIf="forgotPasswordForm.controls['employeeId'].dirty && forgotPasswordForm.hasError('required', 'employeeId')">*EmployeeId is required</span>
        </div>
        <br />
        <div class="forgot-password-form-group form-group">
          <label>Enter old password: </label>
          <input type="password" name="newPassword" [(ngModel)]="oldPassword" required />
          <span class="text-danger" *ngIf="forgotPasswordForm.controls['newPassword'].dirty && forgotPasswordForm.hasError('required', 'newPassword')">*New password is required</span>
        </div>
        <br />
        <div class="forgot-password-form-group form-group">
          <label>Enter new password: </label>
          <input type="password" name="newPassword" [(ngModel)]="newPassword" required />
          <span class="text-danger" *ngIf="forgotPasswordForm.controls['newPassword'].dirty && forgotPasswordForm.hasError('required', 'newPassword')">*New password is required</span>
        </div>
        <br />
        <div class="forgot-password-buttons-and-links">
          <button type="submit" class="btn btn-primary mt-3">Confirm</button>
          <div id="forgot-password-cancel" class="btn btn-primary mt-3">
            <p [routerLinkActive]="['link-active']"><a [routerLink]="['/']">Cancel</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
