h1 {
    font-family: 'LatoWeb';
    padding: 15px 0px;
}

.forgot-password-container {
    padding-left: 10%
}
.forgot-password-form {
  font-family: 'LatoWeb';
  font-weight: 300;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
}
button a{
  color: white;
  text-decoration: none !important;
}

button a:hover {
  text-decoration: underline !important;
}

.forgot-password-form-group {
  display: flex !important;
  width: 50%;
  justify-content: space-between !important;
}

#forgot-password-cancel {
  background-color: #dc3545;
  border-color: #dc3545;
}

#forgot-password-cancel p, #forgot-password-cancel a {
  color: white;
  margin: 0;
  text-decoration: none !important;
}
.forgot-password-buttons-and-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
