<div>
  <div class="forgot-password-container">
    <h1>Change password</h1>
    <div class="forgot-password-inputs">
      <form class="forgot-password-form"  #f="ngForm" (ngSubmit)="ResetEmployeePassword(f)">
        <div class="form-group">
          <label>Employee ID: </label>
          <input type="text" name="employeeId" [(ngModel)]="employeeId" required />
          <span class="text-danger" *ngIf="forgotPasswordForm.controls['employeeId'].dirty && forgotPasswordForm.hasError('required', 'employeeId')">*EmployeeId is required</span>
        </div>
        <br />
        <div class="form-group">
          <label>Enter new password: </label>
          <input type="password" name="newPassword" [(ngModel)]="newPassword" required />
          <span class="text-danger" *ngIf="forgotPasswordForm.controls['newPassword'].dirty && forgotPasswordForm.hasError('required', 'newPassword')">*New password is required</span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary mt-3">Change password</button>
        <button type="button" class="btn btn-danger mt-3" [routerLinkActive]="['link-active']"><a [routerLink]="['/']">Cancel</a></button>
      </form>
    </div>
  </div>
</div>
